{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "example_mvcContext": "Server=(localdb)\\mssqllocaldb;Database=example_mvcContext-2eb5a5e3-de24-482c-bdcc-1b2c11b22c3b;Trusted_Connection=True;MultipleActiveResultSets=true"
  }
}
