{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "example_mvcContext": "Server=localhost;Database=example_mvcContext-2eb5a5e3-de24-482c-bdcc-1b2c11b22c3b;MultipleActiveResultSets=true;User=sa;Password=reallyStrongPwd123;"
  }
}
